In [74]:
import requests
import json
import pandas as pd

In [114]:
df = pd.read_csv('Net_Price_FINAL')

In [115]:
df = df.set_index('id')

In [116]:
df_2 = pd.read_csv('Prog_2_FINAL')

In [117]:
df_2 = df_2.set_index('id')

In [118]:
df_3 = pd.read_csv('Debt_Earn_Final')

In [119]:
df_3 = df_3.set_index('id')

In [120]:
df_final =  pd.concat([df, df_2, df_3], axis=1, join='inner')

In [121]:
df.shape

(6084, 4)

In [122]:
df_final.columns = ['Average_Price', 'Low_Income_Price', 'High_Income_Price', 'School',
       'school.name2', 'Sci', 'Tech_Engn', 'Bus_Math', 'Specialty', 'Trade',
       'Lib_Arts', 'Other', 'Median_Debt', 'Mean_Earnings', 'Repayment',
       'school.name3']

In [123]:
df_final.drop('school.name2', axis=1, inplace= True)

In [124]:
df_final.drop('school.name3', axis=1, inplace= True)

In [125]:
df_final.isnull().sum()

Average_Price          0
Low_Income_Price       0
High_Income_Price      0
School                 0
Sci                    0
Tech_Engn              0
Bus_Math               0
Specialty              0
Trade                  0
Lib_Arts               0
Other                  0
Median_Debt          569
Mean_Earnings        715
Repayment            520
dtype: int64

In [128]:
df_final = df_final.dropna()

In [129]:
df_final.shape

(4514, 14)

In [130]:
df_final.drop('Other', axis=1, inplace=True)

In [131]:
df_final.shape

(4514, 13)

In [133]:
df_final.head()

,Average_Price,Low_Income_Price,High_Income_Price,School,Sci,Tech_Engn,Bus_Math,Specialty,Trade,Lib_Arts,Median_Debt,Mean_Earnings,Repayment
id,,,,,,,,,,,,,
459587,21655.0,20584.0,25911.0,ITT Technical Institute-Merrillville,0.0,0.3703,0.0000,0.0000,0.0833,0.5463,24975.5,43100.0,27039.0
459639,22631.0,21705.0,26613.0,ITT Technical Institute-Corona,0.0,1.0000,0.0000,0.0000,0.0000,0.0000,24975.5,43100.0,27039.0
459648,20401.0,19040.0,25173.0,ITT Technical Institute-Johnson City,0.0,0.8182,0.0000,0.1818,0.0000,0.0000,24975.5,43100.0,27039.0
459666,22292.0,19189.0,24058.0,ITT Technical Institute-North Charleston,0.0,1.0000,0.0000,0.0000,0.0000,0.0000,24975.5,43100.0,27039.0
459709,21891.0,21580.0,24039.0,ITT Technical Institute-Dearborn,0.0,0.6172,0.0703,0.0469,0.2500,0.0156,24975.5,43100.0,27039.0

In [134]:
df_final.to_csv(path_or_buf = 'DB_FINAL', index=False)