In [598]:
import requests
import json
import pandas as pd

In [599]:
api_key = 'ZXCH94jmLisJ8b72hhJC31sCKyZHmEwBxTcp763u'

In [507]:
# link = 'https://api.data.gov/ed/collegescorecard/v1/schools.json?school.degrees_awarded.predominant=1,2,3,4&_fields=id,school.name,2013.student.size,school.degrees_awarded.predominant,2013.admissions.admission_rate.overall,2013.admissions.sat_scores.average.overall'

In [569]:
# link = 'https://api.data.gov/ed/collegescorecard/v1/schools.json?&_fields=school.name,id,2013.aid.median_debt.completers.overall,2013.cost.private.by_income_level.0-30000,2013.cost.private.by_income_level.30001-75000,2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings'

In [ ]:
# https://api.data.gov/ed/collegescorecard/v1/schools?fields=school.name,id,2013.aid.median_debt.completers.overall,2013.repayment.1_yr_repayment.completers,2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings'

In [559]:
# link = 'https://api.data.gov/ed/collegescorecard/v1/schools.json?&_fields=school.name,id,2013.aid.median_debt.completers.overall,2013.cost.net_price.other_acad_calendar.by_income_level.0-30000,2013.cost.net_price.other_acad_calendar.by_income_level.30001-75000,2013.earnings.10_yrs_after_entry.working_not_enrolled.mean_earnings'

In [580]:
# link = 'https://api.data.gov/ed/collegescorecard/v1/schools.json?&_fields=school.name,id,2013.cost.avg_net_price.overall,2013.cost.net_price.public.by_income_level.0-30000,2013.cost.net_price.public.by_income_level.110001-plus,2013.cost.net_price.public.by_income_level.30001-48000,2013.cost.net_price.public.by_income_level.48001-75000,2013.cost.net_price.public.by_income_level.75001-110000,2013.cost.net_price.public.by_income_level.75000-plus,2013.cost.net_price.private.by_income_level.0-30000,2013.cost.net_price.private.by_income_level.110001-plus,2013.cost.net_price.private.by_income_level.30001-48000,2013.cost.net_price.private.by_income_level.48001-75000,2013.cost.net_price.private.by_income_level.75001-110000,2013.cost.net_price.private.by_income_level.75000-plus'

This is the link I'm using for SAT scores

In [692]:
link = 'https://api.data.gov/ed/collegescorecard/v1/schools.json?&_fields=school.name,id,2013.admissions.sat_scores.25th_percentile.critical_reading,2013.admissions.sat_scores.25th_percentile.math,2013.admissions.sat_scores.25th_percentile.writing,2013.admissions.sat_scores.75th_percentile.critical_reading,2013.admissions.sat_scores.75th_percentile.math,2013.admissions.sat_scores.75th_percentile.writing'

In [499]:
# link = 'https://api.data.gov/ed/collegescorecard/v1/schools.json?id=164924&_fields=2015.admissions.admission_rate.overall,school.name,id'

In [693]:
params = {
        'api_key':api_key,
        '_page':1,
        '_per_page':100}

In [694]:
res = requests.get(link, params)
schools = json.loads(res.content)

In [696]:
school_df = pd.DataFrame(schools['results'])

In [656]:
school_df.head(1)

,2013.completion.rate_suppressed.four_year,2013.completion.rate_suppressed.four_year_200percent,2013.completion.rate_suppressed.lt_four_year,2013.completion.rate_suppressed.lt_four_year_150percent,2013.completion.rate_suppressed.overall,id,school.name
0,None,None,None,None,None,443030,NorthShore University HealthSystem School of N...

In [697]:
for x in range (2, 753):
    params = {
        'api_key':api_key,
        '_page':x,
        '_per_page':100}
    res = requests.get(link, params)
    sc = json.loads(res.content)
    sc2 = pd.DataFrame(sc['results'])
    school_df = school_df.append(sc2)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [690]:
school_df.shape

(7493, 8)

In [698]:
school_df.isnull().sum()

2011.admissions.sat_scores.25th_percentile.critical_reading    6247
2011.admissions.sat_scores.75th_percentile.critical_reading    6247
2013.admissions.sat_scores.25th_percentile.math                6188
2013.admissions.sat_scores.25th_percentile.writing             6706
2013.admissions.sat_scores.75th_percentile.math                6188
2013.admissions.sat_scores.75th_percentile.writing             6706
id                                                                0
school.name                                                       0
dtype: int64

In [628]:
school_df.to_csv(path_or_buf = 'SAT_Scores', index=False)